@model IEnumerable<_323Project2.Models.EmployeeHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YearsAtCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsInCurrentRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsSinceLastPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsWithCurrManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnvironmentSatisfaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelationshipSatisfaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockOptionLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkingYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingTimesLastYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkLifeBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentSalaryHike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCompaniesWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Over18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTravel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumberNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YearsAtCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInCurrentRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsSinceLastPromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsWithCurrManager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvironmentSatisfaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationshipSatisfaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockOptionLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorkingYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTimesLastYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkLifeBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentSalaryHike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCompaniesWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Over18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTravel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumberNavigation.Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
